* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 200px;
    width: 400px;
    position: relative;
    margin: 5px;
}

.foto {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.layover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}
.layover.white {
    background-color: rgba(255, 255, 255, 0.2);
}
.layover.black {
    background-color: rgba(0, 0, 0, 0.2);
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
}
